{% load static %}

<!DOCTYPE html>
<html lang="en">



<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Gati - Admin Dashboard Template</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static '/css/app.min.css' %} ">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static '/css/style.css' %} ">
  <link rel="stylesheet" href="{% static '/css/components.css' %} ">
  <link rel="stylesheet" href="{% static '/bundles/jqvmap/dist/jqvmap.min.css' %} ">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static '/css/custom.css' %} ">
  <link rel='shortcut icon' type='image/x-icon' href="{% static '/img/favicon.ico' %} "/>
</head>

<body>
  <div class="loader"></div>
  <!-- General JS Scripts -->
  <script src="/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="{% static '/bundles/apexcharts/apexcharts.min.js' %} "></script>
  <script src="{% static '/bundles/jqvmap/dist/jquery.vmap.min.js' %} "></script>
  <script src="{% static '/bundles/jqvmap/dist/maps/jquery.vmap.world.js' %} "></script>
  <!-- Page Specific JS File -->
  <script src="{% static '/js/page/index.js' %} "></script>
  <!-- Template JS File -->
  <script src="{% static '/js/scripts.js' %} "></script>
  <!-- Custom JS File -->
  <script src="{% static '/js/custom.js' %} "></script>
</body>



</html>